# DataScienceEcosystem

### In this notebook, the languages, libraries, and tools that data scientists use on a day-to-day basis are summarized.

**Objectives:**
- List common languages among data scientists
- List common libraries among data scientists
- Describe some data science tools often used
- Do some simple arithmetic

**Some common languages among data scientists are:**
1. R
2. Python
3. Julia

**Some common libraries among data scientists are:** 
1. Matplotlib
2. Numpy
3. Pandas
4. Tensorflow
5. Scikit-learn
6. GGally
7. ggplot

| Data Science Tools |
|--------------------|
| R Studio |
| Jupyter Notebook |
| Apache Spark |
| Pycharm |
| IBM Watson |
| Hadoop |
| Google Colab |

### The following few cells are examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression where integers are multiplied and then added

(3*4)+5

17

In [1]:
# This cell converts 200 minutes into hours by dividing by 60

print("Hours:")
print(200/60)

Hours:
3.3333333333333335

## Author
Jackson Hickey